dataset/
.idea/
.DS_Store
.project
.pydevproject
pokemon.mp4
frames/
graphs/
TFRecords/
models/
backup/
venv/
saves/
first_try.h5
all_frames/
dataset_frames/
dataset_xml/
to_be_labelled/
to_be_labelled_dup/
generate_tf_record_f.py
take_1_in_3.py